<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Propulse</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <!-- Account Area Styles -->
    <link rel="stylesheet" href="~/css/account/account.css" asp-append-version="true" />
</head>
<body class="account-body">
    <div class="account-container">
        <div class="account-panel">
            @RenderBody()
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Account Area Scripts -->
    <script src="~/js/account/account.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
